.git
.DS_Store
.dev
.env
**/.env
**/.env.*
!**/.env.example
node_modules
**/node_modules
**/dist
**/.expo
**/ios/Pods
google-services.json
**/google-services.json
*.jks
**/*.jks
**/*.keystore
**/*.p12
**/*.pfx
**/target
